/* how to download and install custom font => https://stackoverflow.com/questions/7961721/how-do-i-install-a-custom-font-on-an-html-site */
@font-face {
    font-family: coffee-tin-font;
    src: url('CoffeetinInitials-YXJ2.ttf');
}

html{
    height:98%;
    /* border: 1px solid blueviolet; */
}
body{
    background-color: rgb(48, 122, 4);
    border: 2px solid rgb(241, 5, 5);
    height: 98%;
    text-align: center;
    
}
h1{
    font-family:'coffee-tin-font', sans-serif;
    font-size: 6vh;
    margin: 25px 0 10px 0;
    /* text-align: center; */
    border: 2px solid black;
}
h4{
    font-family: 'Roboto Condensed', sans-serif;
    /* width: 100%; */
    margin: 10px 0 ;
}
.container{
    border: 2px solid rgb(5, 241, 44);
    height: 25vh;
    /* display:flex; */
    /* display:inline-block; */
}
.card{
    /* display: inline-block; */
    display: inline-flex;
    flex-direction: row;
    /* background-color:crimson; */
    /* background-image: url('images/10C.png'); */
    /* background-size: calc(10vh * 0.66); */
    background-size:cover;
    border-radius: 0.75vh;
    height: 12vh;
    width: calc(12vh * 0.67);       /*ratio of card size */
    /* border: 1px solid blueviolet; */
    margin: 0 2px;
}

.card-text{
    margin: auto;
    align-items: stretch;
}

#middle-container{
    display:flex;
    justify-content: space-between;
}

.left-side{
    border: 1px solid green;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    /* flex-direction: column; */
}
.left-side button {
    height: 30%;
    width:50%;
    border-radius: 15px;
    margin: 5px 0 5px 10px;
}

.right-side{
    border: 1px solid green;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    /* flex-direction: column; */
}