html{
    height:98%;
    /* border: 1px solid blueviolet; */
}
body{
    background-color: rgb(209, 208, 207);
    border: 2px solid rgb(241, 5, 5);
    height: 98%;
    text-align: center;
    
}
h1{
    /* text-align: center; */
    border: 2px solid black;
}
h4{
    /* width: 100%; */
}
.container{
    border: 2px solid rgb(5, 241, 44);
    height: 25vh;
    /* display:flex; */
    /* display:inline-block; */
}
.card{
    display: inline-block;
    background-color: crimson;
    border-radius: 1vh;
    height: 10vh;
    width: calc(10vh * 0.71);       /*ratio of card size */
    /* border: 1px solid blueviolet; */
}
#middle-container{
    display:flex;
    justify-content: space-between;
}
.left-side{
    border: 1px solid green;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    /* flex-direction: column; */
}
.left-side button {
    height: 30%;
    width:50%;
}