/* how to download and install custom font => https://stackoverflow.com/questions/7961721/how-do-i-install-a-custom-font-on-an-html-site */
@font-face {
    font-family: coffee-tin-font;
    src: url('CoffeetinInitials-YXJ2.ttf');
}

html{
    height:98%;
}
body{
    background-color: rgb(48, 122, 4);
    height: 98%;
    text-align: center;
    
}
h1{
    font-family:'coffee-tin-font', sans-serif;
    font-size: 6vh;
    margin: 25px 10px 10px 10px;
    background-color: rgb(221, 221, 221);
    border-radius: 15px;
    border: 3px solid black;
}
h4{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 10px 0 ;
}
.container{
    height: 25vh;
}
.card{
    display: inline-flex;
    flex-direction: row;
    background-size:cover;
    border-radius: 0.75vh;
    height: 12vh;
    width: calc(12vh * 0.67);       /*ratio of card size */
    margin: 0 2px;
}

.card-text{
    margin: auto;
    align-items: stretch;
}

#middle-container{
    display:flex;
    justify-content: space-between;
}

.left-side{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.left-side button {
    height: 30%;
    width:60%;
    border-radius: 15px;
    margin: 5px;
    box-shadow: -3px 3px 5px black;
}

.right-side{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.right-side h4 {
    border: 1px solid black;
    height: 25%;
    width: 80%;
    border-radius: 15px;
    margin: 5px 0 5px 10px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ======== media rule ================ */
@media screen and (min-width: 650px) {

    html{
        height:98%;
    }
    body{
        background-color: rgb(48, 122, 4);
        height: 98%;
        text-align: center;
        
    }
    h1{
        font-family:'coffee-tin-font', sans-serif;
        font-size: 6vh;
        margin: 25px 20px 10px 20px;
        background-color: rgb(221, 221, 221);
        border-radius: 15px;
        border: 3px solid black;
    }
    h4{
        font-family: 'Roboto Condensed', sans-serif;
        margin: 10px 0 ;
    }
    #top-container , #bottom-container{
        height: 35vh;
    }

    .card{
         display: inline-flex;
        flex-direction: row;
        background-size:cover;
        border-radius: 0.75vh;
        height: 170px;
        width: calc(170px * 0.67);       /*ratio of card size */
        margin: 0 2px;
    }
    
    .card-text{
        margin: auto;
        align-items: stretch;
    }
    
    #middle-container{
        display:flex;
        justify-content: space-between;
        height: 10%;
    }
    
    .left-side{
        display: flex;
        width: 50%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .left-side button {
        height: 60%;
        width:28%;
        border-radius: 15px;
        margin: 5px;
    }

    .right-side{
        display: flex;
        width: 50%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .right-side h4 {
        border: 3px solid black;
        height: 60%;
        width:28%;
        border-radius: 15px;
        margin: 5px 0 5px 10px;
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}